body{
    font-family: 'Courier New', Courier, monospace;
}
#banner{
    background-color: antiquewhite;
    text-align: center;
}
nav{
    background-color: bisque;
    padding: 3px;
    top: 0;
    position: sticky;
}
header{
    display: inline;
}
nav li a{
    color: white;
    text-decoration: none;
}
nav ul{
    display: flex;
}
nav li{
    list-style-type: none;
    padding: 3px;
}
nav li:hover{
    font-weight: bold;
    color: rgb(196, 186, 75);
}
#content{
    float: left;
    width: 70%;
}
aside{
    float: right;
    width: 30%;
}
main{
    overflow: auto;
}
.cards{
    border: 2px solid black;
}